<div class="entryForm">

    <md-content layout="column">
        <md-input-container>
            <label>Course ID</label>
            <input ng-model="course.courseID" />
        </md-input-container>

        <div>
            <h1 class="md-title">Course Tags</h1><br>
            <md-chips ng-model="course.courseTags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag"></md-chips>
        </div>

        <h1 class="md-title">Section Information</h1><br>

        <md-content ng-repeat="section in course.sections track by $index">

            <div layout="row">
              <md-input-container>
                  <label>Section ID</label>
                  <input ng-model="section.sectionID" />
              </md-input-container>
              <md-input-container>
                  <label>Instructor</label>
                  <input ng-model="section.instructor" />
              </md-input-container>
                <md-input-container>
                    <label>Start Time</label>
                    <input ng-model="section.startTime" />
                </md-input-container>
                <md-input-container>
                    <label>End Time</label>
                    <input ng-model="section.endTime" />
                </md-input-container>
            </div>

            <div layout="row">
                <md-checkbox ng-model="section.days.monday" aria-label="Checkbox M">Monday</md-checkbox>
                <md-checkbox ng-model="section.days.tuesday" aria-label="Checkbox T">Tuesday</md-checkbox>
                <md-checkbox ng-model="section.days.wednesday" aria-label="Checkbox W">Wednesday</md-checkbox>
                <md-checkbox ng-model="section.days.thursday" aria-label="Checkbox R">Thursday</md-checkbox>
                <md-checkbox ng-model="section.days.friday" aria-label="Checkbox F">Friday</md-checkbox>
            </div>

            <div layout="column" style="width:300px">
                <md-input-container>
                    <label>Number of Students in Section</label>
                    <input ng-model="section.numberOfStudents" type="number">
                </md-input-container>
                <md-input-container>
                    <label># Undergraduate TAs Needed</label>
                    <input ng-model="section.undergradTAsNeeded" type="number">
                </md-input-container>
                <md-input-container>
                    <label># Graduate TAs Needed</label>
                    <input ng-model="section.gradTAsNeeded" type="number">
                </md-input-container>
                <md-input-container>
                    <label># Undergraduate LAs Needed</label>
                    <input ng-model="section.undergradLAsNeeded" type="number">
                </md-input-container>
            </div>

            <md-button ng-click="removeCourse($index)"><span>Remove Course</span></md-button>

        </md-content>

        <md-button ng-click="addSection()"><span>Add Section</span></md-button>

        <br>

        <md-button ng-click="submit()" class="md-raised md-primary">Submit</md-button>

    </md-content>
</div>
