<div class="md-inline-form">
  <md-content class="angular-material-form" layout="column" layout-padding>
    <md-input-container>
      <label>Course ID</label>
      <input ng-model="course.courseID" ng-required="true"/>
    </md-input-container>

    <div>
      <h1 class="md-title">Course Tags</h1><br>
      <md-chips ng-model="course.courseTags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag"></md-chips>
    </div>

    <h1 class="md-title">Section Information</h1><br>

    <md-content ng-repeat="section in course.sections track by $index">
      <div layout="row">
        <md-input-container>
          <label>Section ID</label>
          <input ng-model="section.sectionID" ng-required="true" />
        </md-input-container>
        <md-input-container>
          <label>Instructor</label>
          <input ng-model="section.instructor" />
        </md-input-container>
        <md-input-container>
          <label>Start Time</label>
          <input ng-model="section.startTime" ng-required="true"/>
        </md-input-container>
        <md-input-container>
          <label>End Time</label>
          <input ng-model="section.endTime" ng-required="true"/>
        </md-input-container>
      </div>

      <div layout="row">
        <md-checkbox ng-model="section.days.M" aria-label="Checkbox M">Monday</md-checkbox>
        <md-checkbox ng-model="section.days.T" aria-label="Checkbox T">Tuesday</md-checkbox>
        <md-checkbox ng-model="section.days.W" aria-label="Checkbox W">Wednesday</md-checkbox>
        <md-checkbox ng-model="section.days.R" aria-label="Checkbox R">Thursday</md-checkbox>
        <md-checkbox ng-model="section.days.F" aria-label="Checkbox F">Friday</md-checkbox>
      </div>

      <div layout="column" style="width:300px">
        <md-input-container>
          <label>Number of Students in Section</label>
          <input ng-model="section.numberOfStudents" type="number">
        </md-input-container>
        <md-input-container>
          <label># Undergraduate TAs Needed</label>
          <input ng-model="section.undergradTAsNeeded" ng-required="true" type="number">
        </md-input-container>
        <md-input-container>
          <label># Graduate TAs Needed</label>
          <input ng-model="section.gradTAsNeeded" ng-required="true" type="number">
        </md-input-container>
        <md-input-container>
          <label># Undergraduate LAs Needed</label>
          <input ng-model="section.undergradLAsNeeded" ng-required="true" type="number">
        </md-input-container>
      </div>

      <md-button ng-click="removeSection($index)"><span>Remove Section</span></md-button>

    </md-content>

    <md-button ng-click="addSection()"><span>Add Section</span></md-button>

    <br>

    <md-button ng-click="submit()" class="md-raised md-primary">Submit</md-button>

  </md-content>
</div>
