<h1>Courses</h1>

<div class="panel panel-default" ng-repeat="(key, course) in courses">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h3 class="panel-title">{{course.courseID}}</h3>
      </div>
      <div class="col-md-6 align-right">
        <a href="#/edit-course/{{key}}">Edit</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h4>Sections</h4>
    <table class="table table-condensed table-striped">
      <tr>
        <th>Section</th>
        <th>Instructor</th>
        <th>Start</th>
        <th>End</th>
        <th>Days</th>
        <th>Grad TAs</th>
        <th>Undergrad TAs</th>
        <th>Undergrad LAs</th>
      </tr>
      <tr ng-repeat="section in course.sections">
        <td>{{section.sectionID}}</td>
        <td>{{section.instructor}}</td>
        <td>{{section.startTime}}</td>
        <td>{{section.endTime}}</td>
        <td>{{prettifyDays(section.days)}}</td>
        <td>{{section.gradTAsNeeded}}</td>
        <td>{{section.undergradTAsNeeded}}</td>
        <td>{{section.undergradLAsNeeded}}</td>
      </tr>
    </table>
    </div>
  </div>
</div>
