<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Courses</h1>

<div class="panel panel-default" ng-repeat="(key, course) in courses">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h3 class="panel-title">{{course.courseID}}</h3>
      </div>
      <div class="col-md-6 align-right">
        <a href="#/edit-course/{{key}}">Edit</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condensed table-striped sections-table">
      <tr>
        <th>Section</th>
        <th>Instructor</th>
        <th>Start</th>
        <th>End</th>
        <th>Days</th>
        <th>Grad TAs</th>
        <th>Undergrad TAs</th>
        <th>Undergrad LAs</th>
        <th>Matches</th>
      </tr>
      <tr ng-repeat="section in course.sections">
        <td>{{section.sectionID}}</td>
        <td>{{section.instructor}}</td>
        <td>{{section.startTime}}</td>
        <td>{{section.endTime}}</td>
        <td><span ng-repeat="(day, b) in section.days track by day">{{day}}</span></td>
        <td>{{section.gradTAsNeeded}}</td>
        <td>{{section.undergradTAsNeeded}}</td>
        <td>{{section.undergradLAsNeeded}}</td>
        <td ng-init="sec = section">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="launchModal(course, section)">View Matches</button>
        </td>
      </tr>
    </table>
    </div>
    <!-- Modal -->
    <div ng-include="'views/matching-modal.html'"></div>
</div>
