<!-- <h1>Home</h1>
<p>
    Nothing here yet. Will be replaced with additional content later.
    <br />
    Feel free to explore the Add Student and Add Course forms above.
</p> -->

<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>UD CS TA/LA Matching</h1>
            <p>Match students with TA/LA openings for each course section.  Select candidates, make assignments, and export the matching and student workload results as a CSV.</p>
            <p><a class="btn btn-primary btn-large">Instructions</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Quicklinks</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/CISC475-Project/img/students-icon.jpg" alt="">
                    <div class="caption">
                        <h3>Students</h3>
                        <p>Explore and search through students in the system.</p>
                        <p>
                            <a href="students.html" class="btn btn-primary">View Students</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/CISC475-Project/img/courses-icon.jpg" alt="">
                    <div class="caption">
                        <h3>Courses</h3>
                        <p>Explore courses and select TA/LA candidates for each course section.</p>
                        <p>
                            <a href="courses.html" class="btn btn-primary">View Courses</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/CISC475-Project/img/candidates-icon.png" alt="">
                    <div class="caption">
                        <h3>Candidates</h3>
                        <p>See students currently marked as TA/LA candidates for each course section.</p>
                        <p>
                            <a href="#" class="btn btn-primary">View Candidates</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/CISC475-Project/img/assignments-icon.png" alt="">
                    <div class="caption">
                        <h3>Assignments</h3>
                        <p>See the students assigned as TAs/LAs for each course section, view student workload, and export tables as CSV.</p>
                        <p>
                            <a href="#" class="btn btn-primary">View Assignments</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
