.panel-body h4 {
  margin-top: 0px;
}

.align-right {
  text-align: right;
}

.panel-section {
  border-bottom: 1px solid #DDD;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.panel-section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
