html {
  background-color: #FFF !important;
}

.angular-material-form {
  background-color: #FFF !important;
}

.no-hover-cursor {
  cursor: default !important;
}

.float-right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}