html {
  background-color: #FFF !important;
}

.angular-material-form {
  background-color: #FFF !important;
}

.no-hover-cursor:hover {
  cursor: default !important;
  background-color: #FFFFFF;
  border-color: #CCC;
}

.float-right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

.student-filters {
  margin-bottom: 20px;
}

.inline-student-form-filters {
  margin-right: 15px;
}

button:focus {outline:0;}

a:focus {outline:0;}

tr:focus {outline:0;}

tr.hoverable:hover {
  background-color: #E3E3E3;
}

